{% extends "base.html" %}
{% block title %}
Videos
{% endblock %}
{% block content %}
<div class="container-fluid video-container" style="margin-top: 10px;">
    <div class="row justify-content-start">
        <div class="col-lg-3 col-xl-3 col-md-6">
            <div class="card" style="width: auto;">
                <video src="static/assets/video/ahu_1.mp4" controls></video>
                <div class="card-body bg-dark video-cards">
                    <h5 class="card-title">AHU01-WO9204</h5>
                    <p class="card-text">Maintenance - chiller fan speed control.</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card" style="width: auto;">
                <video src="static/assets/video/ahu_video_1.mp4" controls></video>
                <div class="card-body video-cards">
                    <h5 class="card-title">AHU01-WO9203</h5>
                    <p class="card-text">Maintenance - chiller fan speed control.</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card" style="width: auto;">
                <video src="static/assets/video/ahu_1.mp4" controls></video>
                <div class="card-body video-cards">
                    <h5 class="card-title">AHU01-WO9204</h5>
                    <p class="card-text">Maintenance - chiller fan speed control.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card" style="width: auto;">
                <video src="static/assets/video/ahu_1.mp4" controls></video>
                <div class="card-body video-cards">
                    <h5 class="card-title">AHU01-WO9204</h5>
                    <p class="card-text">Maintenance - chiller fan speed control.</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card" style="width: auto;">
                <video src="static/assets/video/ahu_1.mp4" controls></video>
                <div class="card-body video-cards">
                    <h5 class="card-title">AHU01-WO9204</h5>
                    <p class="card-text">Maintenance - chiller fan speed control.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}